#ifndef __okeya__Env_h
#define __okeya__Env_h

#include <string>

#if CC_TARGET_PLATFORM == CC_PLATFORM_IOS
  static const std::string ADMOB_ID = "ca-app-pub-";
#elif CC_TARGET_PLATFORM == CC_PLATFORM_ANDROID
  static const std::string ADMOB_ID = "ca-app-pub-";
#endif

#endif
